@using EasyHarmonica.WEB.Models
@model EasyHarmonica.WEB.Models.StartViewModel

@{
    ViewBag.Title = "GetChapters";
}

<h2>It's time to music!</h2>

<div>
    @foreach (var chapter in Model.Chapters)
    {
        <span>
            @Html.DisplayFor(item => chapter.Name)
        </span>
        <span>
                @Html.ActionLink("Edit", "EditChapter", "Chapter", new { chapterName = chapter.Name }, null)
        </span>
    }
</div>

<hr/>

@Html.Partial("~/Views/Lesson/GetLessons.cshtml", new StartViewModel{Lessons = Model.Lessons})
