@model EasyHarmonica.WEB.Models.StartViewModel

<table>
@foreach (var lesson in Model.Lessons)
{
    <tr>
        <td>
            @Html.DisplayFor(item => lesson.Name)
        </td>
        <td>
            @Html.DisplayFor(item=>lesson.Info)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditLesson", "Lesson", new{name = lesson.Name}, null)
        </td>
    </tr>
}
</table>
